# Archivos del sistema
.DS_Store
Thumbs.db
*.tmp
*.temp

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependencias
node_modules/
bower_components/

# Archivos de build
dist/
build/

# Archivos de configuración local
.env
.env.local
